
.container {
    background-color: #eee;
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

label {
    font-size: 2rem;
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1rem;
}

.pwd,
button {
    font-size: 5rem;
    margin-top: 5rem;
}

#error {
    display: none;
}
