
.container-fluid {
    background-color: #eee;
    border-radius: 1rem;
}

label {
    font-size: 2rem;
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1rem;
}

.pwd,
button {
    font-size: 5rem;
    margin-top: 5rem;
}

#error {
    display: none;
}
